.hero-section {
   position: relative;
   overflow: hidden;
}

.hero-section::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: url("/assets/stars.png");
   background-size: cover;
   opacity: 0;
   transition: opacity 0.3s ease;
}

:root[class~="dark"] .hero-section::before {
   opacity: 1;
}

.counter{
   background: linear-gradient(rgba(16, 1, 47, 0.776), rgb(40, 3, 100)),url("/assets/p9.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
